apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pyroscope.fullname" . }}-config
  labels:
    {{- include "pyroscope.labels" . | nindent 4 }}
data:
  config.yaml: |
    server:
      http_listen_port: 4040

    storage:
      backend: filesystem
      filesystem:
        dir: /data/pyroscope

    memberlist:
      join_members:
        {{- $fullname := include "pyroscope.fullname" . }}
        {{- range $i := until (int .Values.ingester.replicas) }}
        - {{ $fullname }}-ingester-{{ $i }}.{{ $fullname }}-ingester.{{ $.Release.Namespace }}.svc.cluster.local:7946
        {{- end }}

    self_profiling:
      disable_push: true
